<div class="portfolio-container">
  <div class="portfolio-main-title">Some of my work</div>
  <div class="portfolio-project">
    <div class="portfolio-project-title">iKICKin</div>
    <div class="portfolio-project-preview">
      <img src="../../../assets/images/ikickin-preview.png" alt="" />
    </div>
    <div class="portfolio-project-infos">
      iKICKin.com is a SaaS platform which allows project holders to meet
      experts and investors.
    </div>
    <div class="portfolio-project-buttons">
      <button mat-button class="portfolio-project-button">
        <mat-icon>search</mat-icon>
        See it live
      </button>
    </div>
  </div>
  <div class="portfolio-project">
    <div class="portfolio-project-title">Kptur</div>
    <div class="portfolio-project-preview">
      <img src="../../../assets/images/kptur-preview.png" alt="" />
    </div>
    <div class="portfolio-project-infos">
      Kptur is a PWA designed to help project holders to build a strong basis
      from their startup idea.
    </div>
    <div class="portfolio-project-buttons">
      <button mat-button class="portfolio-project-button">
        <mat-icon>search</mat-icon>
        See it live
      </button>
    </div>
  </div>
  <div class="portfolio-project">
    <div class="portfolio-project-title">Personnal website</div>
    <div class="portfolio-project-preview"></div>
    <div class="portfolio-project-infos">
      This is the website that you are actually looking at. You can grab the
      code on github and feel free to make it yours.
    </div>
    <div class="portfolio-project-buttons">
      <button mat-button class="portfolio-project-button">
        <mat-icon>search</mat-icon>
        See it live
      </button>
      <button mat-button class="portfolio-project-button">
        <img src="../../../assets/images/GitHub-Mark-32px.png" alt="" />
        Github
      </button>
    </div>
  </div>
</div>
