// theme 1
// $primary: #330075;
// $secondary: #62ff97;
// $warn: #ff3737;
// $primary-font: "Prompt", sans-serif;

// theme 2
// $primary: #0b2545;
// $secondary: #8da9c4;
// $warn: #ff3737;
// $primary-font: "Prompt", sans-serif;

// theme3
$primary: #003c4e;
$secondary: #bbfd48;
$warn: #ff3737;
$primary-font: "Prompt", sans-serif;
