<div class="hero">
  <div class="hero-text">
    <div class="hi">Hi!</div>
    <div class="who shadow-far">
      I'm <span class="bold-secondary">Dorian</span>,
    </div>
    <div class="what">
      A <span class="bold-secondary underlined">fullstack developer</span> who
      crafts user-friendly web applications.
    </div>
    You may want to
    <div class="hero-text-buttons">
      <button class="rounded-button hero-text-button">Hire me</button>
      or
      <button class="rounded-button hero-text-button">See my work</button>
    </div>
  </div>

  <div class="game">
    But at least, don't hesitate to...
    <button class="rounded-button kill-the-backlog-button shadow-near">
      <div class="kill-the-backlog-button-text">KILL THE BACKLOG !</div>
    </button>
  </div>
</div>
