@import "../../../theme-customisation";

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: $primary;
  //background: linear-gradient($primary, lightblue);

  font-family: $primary-font;
  color: white;
  min-height: 94vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  //min-height: 500px;

  & .hi {
    width: 90vw;
    margin: 50px 0 0 10vw;
    font-size: 40px;
  }
  & .who {
    width: 90vw;
    margin: 30px 0 0 10vw;
    font-size: 60px;
  }
  & .what {
    //border-style: solid;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    width: 60vw;
    margin-top: 60px;
    line-height: 40px;
    font-size: 40px;
    & .developer-mobile {
      display: none;
    }
    & .what-second-part {
      padding-top: 20px;
      padding-bottom: 10px;
    }
    & .fullstack {
      margin: 0;
    }
  }

  & .hero-text-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .buttons-group {
      padding-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
      width: 50vw;
      & .buttons-group-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // width: 50vw;
        & .hero-text-button {
          background-color: $secondary;
        }
      }
      & .buttons-group-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // width: 50vw;
      }
    }
  }
}

.game-button {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding-bottom: 50px;
  user-select: none;
  & .kill-the-backlog-button {
    margin-top: 30px;
    background-color: $warn;
    font-family: "Rock Salt", cursive;
    color: white;
    & .kill-the-backlog-button-text {
      transform: rotate(-1deg);
      font-size: 12px;
      margin: -2px 0 -2px 0;
    }
  }
}

.hero-question {
  font-size: 26px;
}

.hero-text-button {
  margin: 10px 4vw 0 2vw;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 600;
  width: 150px;
  color: $primary;
  user-select: none;
  &:hover {
    background: red;
  }
}

.secondary {
  color: $secondary;
}

.bold {
  font-weight: 700;
}
.underlined {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.shadow-far {
  text-shadow: 30px 20px 10px rgba(0, 0, 0, 0.7);
}

.shadow-near {
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.92));
}

///////Mobile version

@media screen and (max-width: 640px) {
  .hero {
    min-height: 87vh;
  }
  .hero-text {
    & .hi {
      margin-top: 30px;
    }
    & .who {
      font-size: 45px;
    }
    & .what {
      width: 80vw;
      margin-top: 40px;
      text-align: center;
      font-size: 25px;
      line-height: 25px;
      & .developer-desktop {
        display: none;
      }
      & .developer-mobile {
        display: block;
        margin-bottom: 0;
      }
    }

    & .hero-text-buttons .buttons-group {
      width: 100vw;
    }
    & .hero-text-button {
      margin: 10px 0 0 0;
    }
  }
  .hero-question {
    font-size: 20px;
  }
}
